<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/image/weather.png">
    <link rel="stylesheet" href="./css/styles.css" />
    <title>Weather App| about</title>
</head>

<body>

    <div class="main-content">{{> header}}
        <p>This site was created by Arnold Omondi it uses data from mapbox.com and darksky.net/dev</p>
        <img class="portrait" src="./image/me.jpg" alt="sneakers" />
    </div>

    {{>footer}}
</body>

</html>